<div class="row justify-content-md-center mb-4">
	<div class="col-md-auto figure">
		{% if file['src'] != file['thumbnail_src'] %}<a href="{{file['src']}}" data-toggle="lightbox">{% endif %}
			<img src="{{file['thumbnail_src']}}" class="figure-img img-fluid rounded" width="{{file['thumbnail_width']}}"{% if title is not none %} alt="{{title}}"{% endif %} height="{{file['thumbnail_height']}}" />
		{% if file['src'] != file['thumbnail_src'] %}</a>{% endif %}
		{% if title is not none %}<figcaption class="figure-caption text-center">{{title}}</figcaption>{% endif %}
	</div>
</div>