// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&display=swap');

@import "../../../bootstrap/scss/functions";

// $font-family-sans-serif:      'Roboto', sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px
);

// 2. Include any default variable overrides here
$primary: #fc0;

// 3. Include remainder of required Bootstrap stylesheets
@import "../../../bootstrap/scss/variables";

$body-bg: $gray-900;
$body-color: $white;

@import "../../../bootstrap/scss/mixins";

// Layout & components
@import "../../../bootstrap/scss/root";
@import "../../../bootstrap/scss/reboot";
@import "../../../bootstrap/scss/type";
@import "../../../bootstrap/scss/images";
@import "../../../bootstrap/scss/containers";
@import "../../../bootstrap/scss/grid";
@import "../../../bootstrap/scss/tables";
@import "../../../bootstrap/scss/forms";
@import "../../../bootstrap/scss/buttons";
@import "../../../bootstrap/scss/transitions";
@import "../../../bootstrap/scss/dropdown";
@import "../../../bootstrap/scss/button-group";
@import "../../../bootstrap/scss/nav";
@import "../../../bootstrap/scss/navbar";
@import "../../../bootstrap/scss/card";
@import "../../../bootstrap/scss/accordion";
@import "../../../bootstrap/scss/breadcrumb";
@import "../../../bootstrap/scss/pagination";
@import "../../../bootstrap/scss/badge";
@import "../../../bootstrap/scss/alert";
@import "../../../bootstrap/scss/progress";
@import "../../../bootstrap/scss/utilities";
@import "../../../bootstrap/scss/list-group";
@import "../../../bootstrap/scss/close";
@import "../../../bootstrap/scss/toasts";
@import "../../../bootstrap/scss/modal";
@import "../../../bootstrap/scss/tooltip";
@import "../../../bootstrap/scss/popover";
@import "../../../bootstrap/scss/carousel";
@import "../../../bootstrap/scss/spinners";
@import "../../../bootstrap/scss/offcanvas";
@import "../../../bootstrap/scss/placeholders";

// Helpers
@import "../../../bootstrap/scss/helpers";

// Utilities
@import "../../../bootstrap/scss/utilities/api";
// scss-docs-end import-stack