<!doctype html>

<html lang="{{page_language}}">
<head>
{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{meta.title}}</title>
	<meta name="description" content="{{meta.description}}">
	<meta name="author" content="{{meta.author}}">

	<meta property="og:title" content="{{page_title}}">
	<meta property="og:type" content="{{page_type}}">
	<meta property="og:url" content="{{page_url}}">
	<meta property="og:description" content="{{meta.description}}">
	<meta property="og:image" content="{{meta.image}}">

	<link rel="icon" href="{{link_base}}asssets/favicon.ico">
	<link rel="icon" href="{{link_base}}asssets/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="{{link_base}}asssets/apple-touch-icon.png">

	<link rel="stylesheet" href="{{stylesheet}}">
	{{lightbox_css}}
{% endblock %}
</head>

<body>
{% include 'include/navigation.html' %}

<div class="container my-5">
	<div class="row">
		<div class="col">
			{% block content %}{% endblock %}
		</div>
	</div>
</div>
	
{% include 'include/footer.html' %}
{{bootstrap_js}}
{{jquery_js}}
{{lightbox_js}}
</body>
</html>